<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
Bienvenue, <span th:text="${username}"/>.

<form th:action="@{/logout}">
    <button type="submit">se déconnecter</button>
</form>

<form th:action="@{/simplecheck}">
    <button type="submit">Vérifier le login en session (en trace de serveur)</button>
</form>

<form method="post" th:action="@{'/me/'}">
    <button type="submit">Me supprimer</button>
</form>

<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>password</th>
        <th>action(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <form method="post" th:action="@{'/user/' + ${user.login}}">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="session::session"></div>

</body>
</html>